/* Wayne's Code */
header{
    background-color: #F49C63;
    color: #3E393A;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

    transition: top 0.3s;
}

div img{
    border-radius: 10px;
}

a img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.menu{
    display: flex;
    align-items: center;
    
}

.menu a{
    color: #3E393A; 
    border-radius: 30px;
    border-style: solid;
    border-width: 2px;
    font-weight: bold;
    text-decoration: none;
    padding: 5px;
    margin: 5px;
    display: flex;
    align-items: center;
}

.menu a:hover{
    color: #ffffff;
    background-color: #3E393A;
    border-color: #3E393A;
}

.aboutus a{
    color: #3E393A;
    border-radius: 30px;
    border-width: 2px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    display: flex;
    align-items: center;
}

.aboutus a:hover{
    color: #ffffff;
    background-color: #3E393A;
    border-color: #3E393A;
}

.slideshow{
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}

.slide {
    width: auto;
    text-align: center;
}

.slide img {
    max-width: 100%;
    height: auto;
}

.prev, .next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 16px;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    border-radius: 3px;
}

.next{
    right: 0;
}

.dot{
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.row{
    display: flex;
}

.column {
    padding: 80px 20px 20px;
}

footer{
    background-color: #3E393A;
    color: white;
    padding: 20px;
    text-align: center;
} 
/*End of Wayne's code*/